
.tabs-button-container {
  font-family: 'Poppins', sans-serif;
  background: #363c43;
  width: 720px;
  max-width: 100%;
  height: 316px;
  border-radius: 19px;
  padding: 24px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}


.top-icons {
  position: absolute;
  top: 18px;
  left: 18px;
  display: flex;
  flex-direction: column;
  gap: 105px;
  z-index: 10;
}

.icon-circle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: linear-gradient(327.89deg, #4A4E54 -1.73%);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: bold;
}


.grid-icon {
  display: grid;
  grid-template-columns: repeat(2, 9.31px);
  grid-template-rows: repeat(3, 9.31px); 
  gap: 1.38px;
  width: 20px;
  height: 30.68px; 
}

.grid-cube {
  width: 9.31px;
  height: 9.31px;
  border-radius: 1.16px;
  background: #4a4e54;
}


.tabs-nav-bar {
  width: 614px;
  height: 62px;
  background: #171717;
  border-radius: 23px;
  display: flex;
  align-items: center;
  padding: 0 6.5px;
  gap: 10px;
  position: relative;
  margin: 0 auto 30px;
  box-sizing: border-box;
}


.nav-button {
  width: 195px;
  height: 49px;
  padding: 10px 24px;
  border-radius: 16px;
  background: transparent; 
  border: none;
  cursor: pointer;
  z-index: 2;
  position: relative;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  line-height: 1.5;
  color: #a3adb2; /* Inactive text color */
  transition: all 0.4s ease-in-out;
}


.nav-button.active {
  background: #3c4249;
  color: #ffffff; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.tab-content-area {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 0 55px;
  box-sizing: border-box;
}
.tab-content {
  width: 611px;
  height: 175px;
  overflow-y: auto;
  padding-right: 20px;
  box-sizing: border-box;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.tab-content::-webkit-scrollbar {
  display: none;
}
.tab-content p {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  color: #969696;
  margin: 0;
}


.custom-scrollbar {
  position: absolute;
  right: 0px;
  top: o;
  width: 8px;
  height: 64px;
  border-radius: 8px;
  background: linear-gradient(177.32deg, #888989 5.6%, #4A4E54 93.28%);
  box-shadow: 4px 4px 4.9px 0px rgba(0, 0, 0, 0.25); 
}
